.details{
    &__banner-holder{
        width: 100vw;
        height: 350px;
        background-color: red;
    }
    &__summary-holder{
        height: 350px;
        width: 100vw;
        background-color: aqua;
    }
    
}