.details{
    &__container{
        margin: auto;
        max-width: 1440px;
    }
    &__banner-holder{
        width: 100vw;
        height: 350px;
    }
    &__summary-holder{
        height: 350px;
    }
    &__data-holder{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

.data-holder{
    &__information-holder{
        height: 1000px;
    }
    &__characters-holder{
        background-color:crimson;
    }
}