.card-list{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    max-width: 1640px;
    margin: auto;
    padding-top: 50px;
   
    grid-template-columns: repeat(3,minmax(390px,460px));
    justify-content: space-between;
}

.card-container{
    width: 100vw;
    background-color: #13171D;
}
.list-loading{
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1600px) {
    .card-list{
        margin: 0px 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px) {
    .card-list{
        margin: 0px 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .card-list{
        margin: 0px 20px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .card-list{
        grid-template-columns: 1fr;
    }
}