$primary-dark: #1F232D;
.card{
    height: 250px;
    min-width: 350px;
    background-color: $primary-dark;
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 185px auto;
    &__image-holder{
        // width: 185px;
    }
    &__info-holder{
    width: auto;
    font-size: 0.7rem;
    display: grid;
    color: #e7e6e6;
    line-height: 1rem;
    text-align: initial;
    padding: 0px 10px;
    font-weight: 600;
    }
    &:hover{
        box-shadow: 2px 2px 7px 1px #403d3d36;
    }
}

.info-holder{
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
    }
    &__description{
        overflow-y: scroll;
        color: #979797;
        height: 190px;
        &::-webkit-scrollbar {
            width: 0.3rem;
          }
          
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 5px;
          }
    }
    
}