$primary-dark: #1F232D;
.card{
    height: 250px;
    min-width: 350px;
    background-color: $primary-dark;
    display: flex;
    flex-direction: row;
    &__image-holder{
        width: 185px;
    }
    &__info-holder{
        width: auto;
        font-size: 0.7rem;
        display: grid;
        color: #858585;
        line-height: 1rem;
        text-align: initial;
        padding: 0px 10px;
    }
}

.info-holder{
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
    }
    &__description{
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0.3rem;
          }
          
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 5px;
          }
    }
    
}