.primary-top-navigation {
    background-color: #04111D;
    height: 72px;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    /* width: 100vw; */
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 100px;
    color: white;
}

.logo {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .primary-top-navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
}